<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>S3 Video</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>S3_Video: $name</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                This video is transcoded and published to AWS S3 using <a href="https://github.com/TimShi/s3_video">s3_video</a>, and delivered using AWS Cloudfront.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <video id="video" controls>
                    <source src="http://$domain/$name/webm" type="video/webm">
                    <source src="http://$domain/$name/hls.m3u8">
                    <p>
                        To view this video please consider upgrading to a web browser that supports HTML5 video</a>
                    </p>
                </video>
            </div>
        </div>
    </div>
    <div class="row">        
        <div class="col-md-6">
            <p> 
                <h4>
                    Stream ID:                     
                </h4>                
                http://$domain/$name
            </p>
            <p> 
                <h4>
                    HTML5 Video:                    
                </h4>                
                To make this video responsive, use the <a href="http://getbootstrap.com/components/#responsive-embed">bootstrap response embed css</a>.
            </p>
            <pre class="pre-scrollable">
&lt;video id="video" controls&gt;
    &lt;source src="http://$domain/$name/webm" type="video/webm"&gt;
    &lt;source src="http://$domain/$name/hls.m3u8"&gt;
    &lt;p&gt;
        To view this video please consider upgrading to a web browser that supports HTML5 video&lt;/a&gt;
    &lt;/p&gt;
&lt;/video&gt;
            </pre>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>