<!doctype html>
<html lang="en">
<head>
    <title>S3 Video</title>
    <style>
        html, body {
            margin: 0;
        }
    </style>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script>
        function resizeVideo () {
            var h = $(window).height();
            var w = $(window).width();

            var videoWidth;
            var videoHeight;
            var marginTop = 0;
            var marginLeft = 0;

            if (h < w/16*9) {
                videoHeight = h;
                videoWidth = videoHeight/9*16;
                marginLeft = (w - videoWidth)/2;
            } else {
                videoWidth = w;
                videoHeight = videoWidth/16*9;
                marginTop = (h - videoHeight)/2;
            }

            $('#video').height(videoHeight);
            $('#video').width(videoWidth);
            $('#video').css("margin-top", marginTop);
            $('#video').css("margin-left", marginLeft);
        }
        $(window).resize(resizeVideo);
        $(window).trigger('resize');

        $(document).ready(resizeVideo);
    </script>
</head>
<body>
    <video id="video" controls>
        <source src="http://$domain/$name/webm" type="video/webm">
        <source src="http://$domain/$name/hls.m3u8">
        Your browser does not support the <code>video</code> element.
    </video>
</body>
</html>